.outbox{
    border: 1px solid;
    background-color:rgb(230, 225, 225);
}

.titleTxt{
    display: flex;
    align-items: center;
}

.titleTxt h5{
    font-weight: 900;
    margin: 20px;
}


.funcManu{
    width: 50%;
}

.zhiFu{
    padding: 20px;
    border: 1px dotted;
}

.daiFu{
    padding: 20px;
    border: 1px dotted;
}

.white{
    padding: 20px;
    border: 1px dotted;
}

.addDaiFu{
    padding: 20px;
    border: 1px dotted;
}

.addZhiFu{
    padding: 20px;
    border: 1px dotted;
}

.setTool{
    padding: 20px;
    border: 1px dotted;
}